<!DOCTYPE html>
<html>
<head>
    <meta name="viewport", content="width=device-width, initial-scale=1"/>
    <title>
        About
    </title>
    <link rel="icon" href="/img/weather.png"/>
    <link rel="stylesheet" href="/css/styles.css" type="text/css"/>
    <style>
    
    </style>
</head>

<body>
    <div class="main-content">
        {{>header}}
    <img class="portrait" src="../img/The Loop.jpg"/>

    </div>
    
    {{>footer}}
</body>
</html>